[user]
    name = Hippolyte Alain
    email = alain.hippolyte@gmail.com
[alias]
    co = checkout
    st = status
    ci = commit
    br = branch
    pr = pull --rebase
    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; subl `f`"
    add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
    lg = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
[core]
    editor = vim
    excludesfile = ~/.gitglobalexclude
    pager = less
[color]
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow
    old = red bold
    new = green
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[github]
    user = al0neH
[push]
    default = tracking